/*--------------------album square----------------------*/
.col-album{
	max-width: 100%;
	border-radius: 2px;
}

.card-image{
	width: 100%;
	height: auto;
	position: relative;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.card-image .image>img{
	position: initial;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
    transform: scale(1);
}

.col-album:hover .card-image .image>img{
	transform: scale(1.1);
}

.card-image .overlay{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.5s;
}

.col-album:hover .card-image .overlay{
	opacity: 1;
}

.card-image .play-actions{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.7s;
}

.col-album:hover .card-image .play-actions{
	opacity: 1;
}

.card-image .play-actions ul{
	width: 85%;
	display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.card-image .play-actions ul li{
	margin: 0 auto;
	font-size: 2em;
}

.card-image .play-actions ul .fa-play-circle{
	font-size: 3em;
}

.card-info .card-title{
	font-size: 1.2em;
}

.card-info .artist{
	color: #a0a0a0;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.3;
}
/*-------------------------------------------------------*/

/*--------------------weekly charts----------------------*/
.weekly-charts{
  display: flex;
  align-items: center;
  padding: 12px 0;
  transition: all 0.5s;
}

.weekly-charts:hover{
  background-color: rgba(0,0,0,.15);
  border-radius: 4px;
}

.weekly-charts .number{
  font-size: 20px;
  padding: 0 8px;
}

.weekly-charts .card-image{
  margin-right: 8px;
}

.weekly-item .card-image{
  width: 50px !important;
  height: 50px !important;
}

.weekly-item .info{
  flex-grow: 1;
}

.weekly-item .song-title{
  font-size: 1.em;
  margin-bottom: 2px;
  font-weight: 600;
}

.weekly-item .singer{
  font-size: 0.8em;
  color: #999;
}

.weekly-item .view-count{
  font-size: 1em;
  padding: 0 8px;
}

.weekly-item:hover .card-image .image>img{
	transform: scale(1.1);
}

.weekly-item:hover .card-image .overlay{
	opacity: 1;
}

.weekly-item:hover .card-image .play-actions{
	opacity: 1;
}
/*-------------------------------------------------------*/

/*--------------------single choice----------------------*/
.col-album-circle{
  background-image: url(./images/spotlight-bg-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  border: .9px solid #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-album-circle .card-image{
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  text-align: left
}

.col-album-circle:hover .card-image .image>img{
	transform: scale(1.1);
}

.col-album-circle:hover .card-image .overlay{
	opacity: 1;
}

.col-album-circle:hover .card-image .play-actions{
	opacity: 1;
}

.col-album-circle .info{
  flex-grow: 1;
  text-align: right;
  width: 100%;
}

.col-album-circle .info .spotlight-badge{
  background: linear-gradient(to right,#f508b7,#9102ff);
  padding: 3px 8px;
  position: relative;
  display: inline-block;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  color: #fff;
  margin-bottom: 5px;
}

.col-album-circle .info .artist{
  padding: 0 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
/*-------------------------------------------------------*/

/*-----------------------new song------------------------*/
.col-new-song .card-info{
  position: relative;
  flex-grow: 1;
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

.col-new-song .card-info .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
    max-height: 44px;
    overflow: hidden;
    color: #fff;
}

.col-new-song .card-info .artist {
    width: 100%;
    margin-bottom: 5px;
    color: #a0a0a0;
    font-size: 12px;
    line-height: 1.36;
    font-weight: 400;
    display: inline-block;
}

.col-new-song .card-info .release-date {
    position: absolute;
    right: 0;
    color: #dbdbdb;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    bottom: 0;
}

.col-new-song .order {
    position: absolute;
    bottom: -10px;
    left: 0;
    -webkit-text-stroke: 2px #6645c1;
    color: transparent;
    font-size: 50px;
    font-weight: 900;
}
/*-------------------------------------------------------*/