<div class="col-album">
	<a href="#">
		<div class="card-image">
			<div class="image">
				<img src="./images/248057f542641f7e06f22c0e61c534a4.jpg" alt="album" />
			</div>
			<div class="overlay"></div>
			<div class="play-actions">
				<ul>
					<li><i class="far fa-heart"></i></li>
					<li><i class="far fa-play-circle"></i></li>
					<li><i class="fas fa-ellipsis-h"></i></li>
				</ul>
			</div>
		</div>
	</a>
	<div class="card-info">
		<div class="title">
			<a href="#">Các ca khúc pop ballad Việt nổi bật 2020</a>
		</div>
		<div class="artist"></div>
	</div>
</div>