<div class="singer-choice">
  <a href="#">
    <div class="col-album-circle">
      <div class="card-image">
        <div class="image">
          <img src="https://loremflickr.com/320/320" alt="album" />
        </div>
        <div class="overlay"></div>
        <div class="play-actions">
          <i class="fas fa-play"></i>
        </div>
      </div>
      <div class="info">
        <div class="spotlight-badge">
          <i class="fas fa-star"></i>
          <span>ZING CHOICE</span>
        </div>
        <div class="artist">
          <span>JustaTee</span> 
        </div>       
      </div> 
    </div>
  </a>
</div>